<header>
    <nav>     
    <div class ="dropdown" onmouseenter="showDropdown()">
        <p class ="dropdown__label">More</p>
        <ul class = "dropdown__option">
            <li>
                <a href="/posts">Posts</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
        </ul>
    </div>
    </nav>
</header>