<header>
    <nav>  
        <a href="/posts">Posts</a>  
        <a href="/users">Users</a> 
    <div class ="dropdown" onmouseenter="showDropdown()">
        <p class ="dropdown__label">More</p>
        <ul class = "dropdown__options">
            <li>
                <a href="/posts">Posts</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
        </ul>
    </div>
    </nav>
</header>